.app {
  text-align: center;
}

.nav-container {
  justify-content: space-between;
}

.home-content {
  margin: 5%;
}

.heading {
  font-size: 4.5rem;
  color: #3f51b5;
  margin: 5% 0;
  transition: transform 0.5s;
}

.heading:hover {
  transform: scale(1.125);
  color: #342056;
}

.home-png {
  transition: transform 0.5s;
}

.home-png:hover {
  transform: scale(1.125);
}

.home-paragraph {
  display: inline-block;
  font-size: 2rem;
  font-family: "Source Sans Pro", sans-serif;
  margin: 2.5rem 0;
}

.about-img {
  max-height: 500px;
  border-radius: 30px;
  margin: 9% 0 0 7%;
}

.about-wrap {
  display: flex;
  justify-content: space-evenly;
  margin: 3% 10% 5% 10%;
}

.about-paragraph {
  font-size: 1.25rem;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 2rem;
  padding: 2.5%;
}

.about-paragraph em {
  font-style: italic;
}

.tech-logo {
  height: 6rem;
  width: 5rem;
  margin: 1rem;
}

.project-wrap {
  display: flex;
  justify-content: space-evenly;
  margin: 3% 3% 5% 3%;
}

.student-artco {
  display: flex;
  flex-flow: row wrap;
  margin: 7% 0;
}

.project-img {
  max-height: 400px;
  margin-top: 15%;
}

.student-artco-right {
  max-width: 400px;
  margin-left: 20px;
}

.project-title {
  font-size: 2.25rem;
  color: #3f51b5;
  margin-bottom: 3%;
}

.project-text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-family: "Source Sans Pro", sans-serif;
  padding: 20px 20px;
}

.wanderlust {
  display: flex;
  flex-flow: row wrap;
  margin: 7% 0;
}

.wanderlust-left {
  max-width: 400px;
  margin-right: 20px;
}

.park-passport {
  display: flex;
  flex-flow: row wrap;
  margin: 7% 0;
}

.park-passport-right {
  max-width: 400px;
  margin-left: 20px;
}

.image-gallery {
  display: flex;
  flex-flow: row wrap;
  margin: 7% 0;
}

.image-gallery-left {
  max-width: 400px;
  margin-right: 20px;
}

@media screen and (max-width: 960px) {
  .about-paragraph {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media screen and (max-width: 768px) {
  #home-btn {
    display: none;
  }

  .about-wrap {
    flex-direction: column;
  }

  .about-img {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
    border-radius: 15%;
  }

  .tech-logo {
    height: 4.5rem;
    width: 3.5rem;
  }

  .home-png {
    height: 120px;
    width: 120px;
    margin-bottom: 10%;
    transition: none;
  }

  .home-png:hover {
    transform: none;
    color: #342056;
  }

  .home-paragraph {
    display: inline;
    font-size: 1.5rem;
  }

  .home-content {
    margin: 10%;
  }

  .about-paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .student-artco-right {
    margin: 5%;
  }

  .wanderlust-left {
    margin: 5%;
  }

  .park-passport-right {
    margin: 5%;
  }

  .park-passport-left {
    display: none;
  }

  .project-wrap {
    overflow-x: hidden;
  }

  .project-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .project-img {
    max-height: 275px;
    margin-top: 5%;
    margin-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .heading {
    font-size: 3rem;
  }
}
