.app {
  text-align: center;
}

.nav-container {
  justify-content: space-between;
}

.home-content {
  margin: 5%;
}

.heading {
  font-size: 4.5rem;
  color: #3F51B5;
  margin: 5% 0;
}

.home-paragraph {
  font-size: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 5%;
}

.about-img {
  max-height: 500px;
  border-radius: 30px;
  margin: 7% 0 0 7%;
}

.about-wrap {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 10%;
}

.about-paragraph {
  font-size: 1.25rem;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 2rem;
  padding: 2.5%;
}

.about-paragraph em {
  font-style: italic;
}

.project-wrap {
  display: flex;
  justify-content: space-evenly;
  margin: 0 3% 5% 3%;
}

.student-artco {
  display: flex;
  flex-flow: row wrap;
  margin: 7% 0;
}

.project-img {
  max-height: 400px;
  margin-top: 15%;
}

.student-artco-right {
  max-width: 400px;
  margin-left: 20px;
}

.project-title {
  font-size: 2.25rem;
  color: #3F51B5;
  margin-bottom: 3%;
}

.project-text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 20px 20px;
}

.wanderlust {
  display: flex;
  flex-flow: row wrap;
  margin: 7% 0;
}

.wanderlust-left {
  max-width: 400px;
  margin-right: 20px;
}

.park-passport {
  display: flex;
  flex-flow: row wrap;
  margin: 7% 0;
}

.park-passport-right {
  max-width: 400px;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  #home-btn {
    display: none;
  }

  .about-wrap {
    flex-direction: column;
  }

  .about-img {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
    border-radius: 15%;
  }

  .home-heading {
    font-size: 3rem;
    color: #3F51B5;
    margin-top: 20%;
    padding-bottom: 4%;
  }

  .home-paragraph {
    font-size: 1.25rem;
    padding-bottom: 5%;
  }

  .about-paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 2.5%;
  }

  .student-artco-right {
    margin: 5%;
  }

  .wanderlust-left {
    margin: 5%;
  }

  .park-passport-right {
    margin: 5%;
  }

  .project-wrap {
    overflow-x: hidden;
  }

  .project-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .project-img {
    max-height: 275px;
    margin-top: 5%;
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .heading {
    font-size: 3rem;
  }
}